@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "OneNine";
  src: url("./assets/OneNine.ttf");
}

@font-face {
  font-family: "Lexend";
  src: url("./assets/Lexend.ttf");
}


body {
  margin: 0;
  background-color: #1A0A59;
}